---
layout: base
title: Matthieu Moquet
---

<header class="homepage-header" style="clear:both">
    <h1 class="fullname">
        <span class="firstname">Matthieu</span>
        <span class="lastname">Moquet</span>
    </h1>

    <div class="baseline">
        <p class="status">
            <span class="www">WWW</span>eb developer
        </p>

        <p class="pseudo">
            @MattKetmo
        </p>

        {% include social-icons.html %}
    </div>

    <div class="clearfix"></div>
</header>

<div class="site-content">
    {% include posts.html %}

    {% include talks.html %}
</div>

<footer class="site-footer">
</footer>
