{% extends 'base' %}

{% block meta %}
  {{ parent() }}

  {% include 'partials/twitter-meta.html' with {twitter: {
    'description': block('meta_description'),
  }} %}
{% endblock %}

{% block content_wrapper %}
<a href="/" class="BackLink isLight">
  <i class="icon-logo"></i>
</a>

<article class="BlogPostContainer">
  <header class="BlogPostHeader">
    <div class="Layout">
      <h1 class="BlogPostHeader-title">
        {{ page.title }}
      </h1>

      <p class="BlogPostHeader-meta">
        <time datetime="{{ page.date|date('Y-m-d') }}">
          {{ page.date|date('d M Y') }}
        </time>
      </p>
    </div>
  </header>

  <div class="BlogPostContentWrapper">
    <div class="BlogPostContent Type Layout">
      {{ page.blocks.content|raw }}
    </div>

    <p class="BlogPostFooter Layout">
      <a class="Button twitter js-twitter-share" title="Share this post" href="https://twitter.com/share?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter }}" target="_blank">
        <i class="icon-twitter"></i>
        <span>Share this post</span>
      </a>
    </p>

    {% include 'partials/comments.html' %}
  </div>
</article>

{% include 'partials/footer.html' %}

{% endblock %}
