{% extends 'base' %}

{% block meta_description %}
{% spaceless %}
  This is the content of the talk &quot;{{ page.title }}&quot; presented at &quot;{{ page.event }}&quot; on {{ page.date|date('F Y') }}.
{% endspaceless %}
{% endblock %}

{% block meta %}
  {{ parent() }}

  {% include 'partials/twitter-meta.html' with { twitter: {
    'card': 'summary_large_image',
    'description': block('meta_description'),
    'image': site.url ~ '/uploads/talks/' ~ page.thumbnail,
  }} %}
{% endblock %}

{% block content_wrapper %}
<a href="/" class="BackLink isLight">
  <i class="icon-logo"></i>
</a>

<article class="BlogPostContainer">
  <header class="BlogPostHeader">
    <div class="Layout">
      <h1 class="BlogPostHeader-title">
        {{ page.title }}
      </h1>

      <p class="BlogPostHeader-meta">
        {{ page.event }} —
        <time datetime="{{ page.date|date('Y-m-d') }}">
          {{ page.date|date('M Y') }}
        </time>
      </p>
    </div>
  </header>

  <div class="BlogPostContentWrapper">
    <div class="BlogPostContent Type Layout">
      <div class="block type">
        <script
          async
          class="speakerdeck-embed"
          data-id="{{ page.speakerdeck }}"
          data-ratio="{{ page.speakerdeck_ratio|default(1.33333333333333)}}"
          src="//speakerdeck.com/assets/embed.js">
        </script>
      </div>
    </div>

    <div class="BlogPostContent Type Layout">
      {{ page.blocks.content|raw }}
    </div>

    <p class="BlogPostFooter Layout">
      <a class="Button twitter js-twitter-share" title="Share this post" href="https://twitter.com/share?text={{ page.title|url_encode }}&url={{ site.url|url_encode }}{{ page.url|url_encode }}&via={{ site.twitter }}&related={{ site.twitter }}" target="_blank">
        <i class="icon-twitter"></i>
        <span>Share via Twitter</span>
      </a>
    </p>

    {% include 'partials/comments.html' %}
  </div>
</article>

{% include 'partials/footer.html' %}

{% endblock %}
