---
layout: base
title: Talks
title: Matthieu Moquet
generator: pagination
pagination:
  provider: data.talks
  max_per_page: 16
use:
  - talks
---

{% include 'partials/about-header.html' %}

<section class="TalkList" id="talks">
  <div class="Layout">
    <h2 class="TalkList-title">
      Talks
    </h2>

    <ul class="TalkList-list">
      {% for talk in page.pagination.items %}
        {% include 'partials/talk-item.html' %}
      {% endfor %}
    </ul>

    {% if page.pagination.previous_page or page.pagination.next_page %}
      <nav class="BlogPostList-button">
        {% if page.pagination.previous_page %}
          <a href="{{ page.pagination.previous_page.url }}" class="Button">
            <i class="icon-arrow-left"></i>
            Newer Talks
          </a>
        {% endif %}

        {% if page.pagination.next_page %}
          <a href="{{ page.pagination.next_page.url }}" class="Button">
            Older Talks
            <i class="icon-arrow-right"></i>
          </a>
        {% endif %}
      </nav>
    {% endif %}
  </div>
</section>

{% include 'partials/footer.html' %}
