<section class="AboutHeader">
  <div class="Layout">
    <h1 class="AboutHeader-title">
      Matthieu Moquet
    </h1>

    <p class="AboutHeader-avatar">
      <img src="/assets/public/images/avatar.jpg" alt="Matthieu Moquet avatar" class="Image isCircle">
    </p>

    <p class="AboutHeader-lead">
      Hello. My name is <strong>Matthieu Moquet</strong>.

      I currently live in <strong>Paris</strong> and work as a web developer at
      <strong>BlaBlaCar</strong>.
      <!-- <strong style="background: #fafafa; padding: 0px 10px; border-radius: 4px; x-text-shadow: #ddd 0px 0px"><span style="color:#6cb52d">Bla</span><span style="color:#0084ba">Bla</span><span style="color:#ba2928">Car</span></strong> -->
    </p>

    <p class="AboutHeader-followMe">
      Find me on social networks
    </p>

    <p class="AboutHeader-links">
      <a href="https://twitter.com/MattKetmo" class="Button twitter inverse">
        <i class="icon-twitter"></i>
        <span>MattKetmo</span>
      </a>
    </p>
  </div>
</section>
