<section class="BlogPostList">
  <div class="Layout">
    <h2 class="BlogPostList-title">
      Blog
    </h2>

    <ul class="BlogPostList-list">
      {% for post in site.posts %}
        <li class="BlogPostItem">
          <h3 class="BlogPostItem-title">
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </h3>

          <!--
          <p class="BlogPostItem-excerpt"></p>
          -->

          <p class="BlogPostItem-meta">
            <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
              {{ post.date | date_to_string }}
            </time>
          </p>
        </li>
      {% endfor %}
    </ul>

    <!--
    <div class="BlogPostList-button">
      <a href="/blog/" class="Button">
        View all
        <i class="icon-arrow-right"></i>
      </a>
    </div>
    -->
  </div>
</section>
