<section class="DrawingList" id="drawings">
  <div class="Layout">
    <h2 class="DrawingList-title">
      Drawings
    </h2>

    <p class="DrawingList-description">
      Did I tell you drawing was a passion when I was child?
      Here are below some I did several years ago.
      You can find a few more of my drawing on my dedicated
      <a href="https://plus.google.com/photos/+MatthieuMoquet/albums/5684939403743189713">Google+ Album</a>.
    </p>
  </div>

  <ul class="DrawingList-list">
    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/wolf.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/50cent.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/jamal.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/xavier.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/shak_basketball.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/style2ouf.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/superbreaker.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/math_cp1.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/math_cp2.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/platines_dj.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/clash_trone.jpg" alt="">
    </li>

    <li class="DrawingItem">
      <img class="DrawingItem-image" src="/assets/public/images/drawings/sanka.jpg" alt="">
    </li>
  </ul>

  <!-- <div class="DrawingList-button">
    <a href="https://plus.google.com/photos/+MatthieuMoquet/albums/5684939403743189713" class="Button">
      View more
      <i class="icon-arrow-right"></i>
    </a>
  </div> -->
</section>
