<section class="block">
    <h2 class="block-title">Blog</h2>

    <div class="block-list">
        {% for post in site.posts %}
            <article class="block-list-item">
                <a href="{{ post.url }}">
                    <h2 class="item-title">
                        {{ post.title }}
                    </h2>
                    <time class="item-prefix" datetime="{{ post.date | date: '%Y-%m-%d' }}">
                        {{ post.date | date: "%d %b" }}
                    </time>
                </a>
            </article>
        {% endfor %}
    </div>
</section>