<ul class="social-icons">
    <li><a href="http://twitter.com/MattKetmo" title="Twitter" class="twitter">Twitter</a></li>
    <li><a href="http://github.com/MattKetmo" title="GitHub" class="github">Github</a></li>
    <li><a href="http://fr.linkedin.com/in/matthieumoquet" title="LinkedIn" class="linkedin">Linkedin</a></li>
    <li><a href="https://plus.google.com/u/0/112952330011857430726" title="Google+" class="google" rel="author">Google+</a></li>
    <li><a href="https://connect.sensiolabs.com/profile/MattKetmo" title="Symfony" class="symfony">Symfony</a></li>
</ul>
