<section class="block">
    <h2 class="block-title">Talks</h2>
    <div class="block-list">
        <article class="block-list-item">
            <a href="/talks/phptour-2014-sso-soa">
                <h2 class="item-title">
                    SSO &amp; SOA — PHP Tour Lyon 2014
                </h2>
                <time class="item-prefix" datetime="2014-06-23">
                    Jun 2014
                </time>
            </a>
        </article>

        <article class="block-list-item">
            <a href="/talks/symfony-live-2014">
                <h2 class="item-title">
                    Decoupling your application — Symfony Live Paris 2014
                </h2>
                <time class="item-prefix" datetime="2014-04-08">
                    Apr 2014
                </time>
            </a>
        </article>

        <article class="block-list-item">
            <a href="/talks/symfony-live-2013">
                <h2 class="item-title">
                    Development Workflow at BlaBlaCar — Symfony Live Paris 2013
                </h2>
                <time class="item-prefix" datetime="2013-04-06">
                    Apr 2013
                </time>
            </a>
        </article>
    </div>
</section>
