.Type {
  h1 {
    @include font-size(34);
    margin: 20px 0 15px;
    padding: 0;
  }

  h2 {
    @include font-size(30);
    margin: 15px 0 10px;
    padding: 0;
  }

  h3 {
  }

  p {
    @include font-size(22);
    // letter-spacing: 0.03em;
    margin: 20px 0 20px;
    line-height: 1.4em;
  }

  ul, ol {
    @include font-size(22);
  }

  blockquote {
    @include font-size(23);
    font-style: italic;
    margin: 20px 0 20px;
    padding: 0;
  }

  code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.8em;
    background-color: #f0f0f0;
    // color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
  }

  pre code, code.pre {
    @include font-size(16);
    line-height: 1.4em;
    overflow: auto;
    padding: 15px;
    display: block;
    background-color: #363942;
    color: #eee;
  }


  a {
    color: $color-primary;
  }

  strong {
  }
}
