@import "compass";
@import "compass/reset";

@include font-face("Junction", font-files("junction.woff"));
@include font-face("Quatro Ultra Slab", font-files("Quatro Ultra Slab.otf"));

body {
    background: #f4f4f4 image-url('cubes.png') repeat center;
    color: #303030;
}

::selection, ::-moz-selection {
    background: #ff6633; //#f14e32;
    text-shadow: none;
}

strong {
    font-weight: bold;
}

a {
    color: #303030;
    //color: #0388A6;
    text-decoration: none;
    &:hover {
        color: #0388A6;
        //color: #04b1d8;
    }
}

.container {
    width: 630px;
    margin: 10% auto;
    padding: 7% 0;
}

.clear {
    clear: both;
}

.main {
   width: 350px;
   float: left;

    .inner {
        @include box-shadow(#eee 1px 0px 0px);
        border-right: 1px solid #aaa;
        padding-right: 15px;
        heigth: 250px;
    }
}

.secondary {
    width: 280px;
    float: right;

    .inner {
        padding-left: 15px;
    }
}

.main {
    font-family: "Quatro Ultra Slab", sans-serif;
    text-align: right;

    span {
        display: block;
    }
    .firstname {
        font-size: 3.5em;
        line-height: .7em;
    }
    .lastname {
        font-size: 4.5em;
        line-height: .9em;
    }
}

.secondary {
    font-family: "Junction", sans-serif;
    padding-top: 10px;

    .pseudo {
        font-size: 1.2em;
        line-height: 1.6em;
    }
    .status {
        font-size: .9em;
        line-height: 1.5em;
    }
}

$icons: sprite-map("../images/icon-*.png");
ul.social-icons {
    @include horizontal-list;
    margin-top: 5px;

    li {
        display: inline;
    }
    a {
        @include hide-text;
        background-image: sprite-url($icons);
        display: block;
        width: 32px;
        height: 32px;
    }

    @each $media in github, twitter, symfony, google, linkedin {
        .#{$media} {
            background-position: sprite-position($icons, 'icon-#{$media}');
            &:hover {
                background-position: sprite-position($icons, 'icon-#{$media}--hover');
            }
        }
    }
}

.hint {
    color: #999;
}


@media screen and (max-width: 630px)  {
    .container {
        width: 100%;
        min-width: 330px;
        margin: auto;
        padding: 7% 0;
    }

    .main {
        width: 100%;
        float: none;
        text-align: center;

        .inner {
            border: none;
            padding-left: 15px;
        }
    }

    .secondary {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 15px;

        .inner {
            border: none;
            padding-left: 15px;
        }
    }

    ul.social-icons {
        margin: 15px auto;
        width: 200px;
    }
}
