.blog-entries {
    article {
        a {
            text-decoration: none;
            display: block;

            &:hover {
                h2 {
                    color: #09c;
                }
            }

            &:active {
                background-color: #09c;

                h2, time {
                    color: white;
                }
            }
        }

        font-family: $font-text;
        height: 50px;
        line-height: 50px;
        position: relative;

        border-top: 1px solid #ccc;
        &:last-child {
            // border-bottom: 1px solid #ccc;
        }

        time {
            position: absolute;
            left: 15px;
            top: 0px;
            color: #888;
        }

        h2 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
            font-size: 1em;
            color: #444;
            padding-left: 90px;
        }
    }
}
