.blog-post {
    font-family: $font-text;

    // Post title
    header {
        margin-bottom: 20px;

        h1 {
            font-family: $font-text;
            font-weight: bold;
            font-size: 2em;
            text-align: center;
            letter-spacing: -1px;
            margin-bottom: 15px;
        }

        time {
            color: #aaa;
        }

        .meta {
            text-align: center;
            display: block;
        }

        .github-link {
            padding-left: 5px;
            font-size: 0.9em;
            color: #aaa;
            text-decoration: none;

            &:hover {
                color: #33b5e5;
            }
        }
    }

    .comments {
        margin-top: 40px;
    }
}
