.btn-share {
    border-radius: 2px;
    display: inline-block;
    padding: 4px 12px;
    font-size: 0.8em;
    text-decoration: none;
    background-color: #09c;
    color: #fff;

    &:hover {
        background-color: #33b5e5;
    }
}

.btn-tweet,
.btn-github {
    font-size: 1.2em;
    padding: 12px 30px;
    margin: 3px;
    text-decoration: none;

    .icon-twitter, .icon-github, .icon-link {
        padding-right: 5px;
    }
}

.btn-tweet {
    color: #fff;
    background-color: #33B5E5;

    &:hover {
        background-color: #0099CC;
    }
}

.btn-github {
    color: #444;
    background-color: #ddd;

    &:hover {
        background-color: #ccc;
    }
}
