.fullname {
    font-family: $font-title;

    span {
        display: block;
    }
    .firstname {
        font-size: 3.5em;
        line-height: .7em;
    }
    .lastname {
        font-size: 4.5em;
        line-height: 1em;
        text-transform: capitalize;
    }
}
