@font-face {
    font-family: 'icomoon';
    src:url('/assets/fonts/icomoon/icomoon.eot');
    src:url('/assets/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/icomoon/icomoon.woff') format('woff'),
        url('/assets/fonts/icomoon/icomoon.ttf') format('truetype'),
        url('/assets/fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-link, .icon-twitter, .icon-pencil {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-link:before {
    content: "\e004";
}
.icon-twitter:before {
    content: "\e005";
}
.icon-pencil:before {
    content: "\e006";
}
