h1.page-title {
    font-family: $font-text;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 15px;

    small {
        font-size: 0.6em;
        font-weight: normal;
        color: #999;
    }
}

.part {
    margin-bottom: 20px;
}

.part-title {
    font-size: 1.4em;
    margin-bottom: 5px;
    font-family: $font-text;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -1px;
}