.page-header {
    margin: 30px auto 30px;

    .block {
        margin: auto;
    }
}

.page-title {
    font-family: $font-text;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 15px;

    small {
        font-size: 0.6em;
        font-weight: normal;
        color: #999;
    }
}

.page-content {
    width: 100%
}

.page-footer {
    width: 100%;
    padding: 10px 0 30px;

    .inner {
        width: 320px;
        margin: auto;
    }

    .pseudo {
        font-family: $font-text;
        font-size: 1.2em;
        float: left;
        padding-right: 10px;
        line-height: 30px;
    }

    @media screen and (max-width: 650px) {
        .pseudo {
            float: none;
            text-align: center;
            padding-right: 0;
            padding-bottom: 5px;
        }

        .social-icons {
            margin: auto;
            padding-left: 0;
        }

    }
}

.block {
    margin-bottom: 20px;
}

.block-title {
    font-size: 1.4em;
    font-family: $font-text;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

.block-list {
}

.block-list-item {
    a {
        text-decoration: none;
        display: block;

        &:hover {
            h2 {
                color: #09c;
            }
        }

        &:active {
            background-color: #09c;

            h2, time {
                color: white;
            }
        }
    }

    height: 50px;
    line-height: 50px;
    position: relative;

    border-top: 1px solid #ccc;
    &:last-child {
        // border-bottom: 1px solid #ccc;
    }

    .item-prefix {
        position: absolute;
        left: 15px;
        top: 0px;
        color: #888;
    }

    .item-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        font-size: 1em;
        color: #444;
        padding-left: 90px;
    }
}
