// Site Layout
$site-container: 650px;

//
// Main wrapper
//
.site-container {
    width: $site-container;
    margin: auto;

    @media screen and (max-width: 650px) {
        width: 90%;
    }
}


//
// Header
//
.site-header {
    clear: both;

    // First variant
    &.main-layout {
        margin: 120px auto 40px;

        .inner {
            padding: 0 20px;

            @media screen and (max-width: 650px) {
                padding: 20px 0;
            }
        }

        h1 {
            @if $debug { background-color: red; }

            width: 57%;
            float: left;
            text-align: right;

            .inner {
                border-right: 1px solid #ccc;
            }

            @media screen and (max-width: 650px) {
                .inner {
                    border-bottom: 1px solid #ccc;
                    border-right: 0;
                }
            }
        }

        .baseline {
            @if $debug { background-color: blue; }

            width: 43%;
            float: left;
            text-align: left;
        }

        @media screen and (max-width: 650px) {
            margin: 30px auto 0px;

            h1, .baseline {
                width: 100%;
                float: none;
                text-align: center;
            }
        }
    }

    &.simple-layout {
        margin: 30px auto 30px;

        .block {
            margin: auto;
        }
    }
}

//
// Content
//
.site-content {
    @if $debug { background-color: green; }

    width: 100%;
}

//
// Footer
//
.site-footer {
    @if $debug { background-color: orange; }

    width: 100%;
    padding: 10px 0 30px;
    line-height: 30px;

    .inner {
        width: 350px;
        margin: auto;
    }

    .pseudo {
        font-family: $font-text;
        font-size: 1.2em;
        float: left;
        padding-right: 10px;
    }

    .social-icons {
        padding-left: 10px;
    }
}

@media (max-device-width:768px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2) {
    // @see http://blog.goetter.fr/post/28469308363/initial-scale-1-le-pour-et-le-contre
    html { -webkit-text-size-adjust: 66%; }
}
