html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Quatro Ultra Slab";
  src: url('/assets/fonts/Quatro Ultra Slab.otf') format('opentype');
}

@font-face {
  font-family: "Roboto";
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('/assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url('/assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  background: #f4f4f4 url('/assets/images/cubes.png?1362487981') repeat center;
  color: #303030;
}

::selection, ::-moz-selection {
  background: #258aaf;
  text-shadow: none;
}

.site-container {
  width: 650px;
  margin: auto;
}
@media screen and (max-width: 650px) {
  .site-container {
    width: 90%;
  }
}

.site-header {
  clear: both;
}
.site-header.main-layout {
  margin: 120px auto 40px;
}
.site-header.main-layout .inner {
  padding: 0 20px;
}
@media screen and (max-width: 650px) {
  .site-header.main-layout .inner {
    padding: 20px 0;
  }
}
.site-header.main-layout h1 {
  width: 57%;
  float: left;
  text-align: right;
}
.site-header.main-layout h1 .inner {
  border-right: 1px solid #cccccc;
}
@media screen and (max-width: 650px) {
  .site-header.main-layout h1 .inner {
    border-bottom: 1px solid #cccccc;
    border-right: 0;
  }
}
.site-header.main-layout .baseline {
  width: 43%;
  float: left;
  text-align: left;
}
@media screen and (max-width: 650px) {
  .site-header.main-layout {
    margin: 30px auto 0px;
  }
  .site-header.main-layout h1, .site-header.main-layout .baseline {
    width: 100%;
    float: none;
    text-align: center;
  }
  .site-header.main-layout .social-icons {
    margin: auto;
  }
}
.site-header.simple-layout {
  margin: 30px auto 30px;
}
.site-header.simple-layout .block {
  margin: auto;
}

.site-content {
  width: 100%;
}

.site-footer {
  width: 100%;
  padding: 10px 0 30px;
}
.site-footer .inner {
  width: 350px;
  margin: auto;
}
.site-footer .pseudo {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  float: left;
  padding-right: 10px;
  line-height: 30px;
}
.site-footer .social-icons {
  padding-left: 10px;
}
@media screen and (max-width: 650px) {
  .site-footer .pseudo {
    float: none;
    text-align: center;
    padding-right: 0;
    padding-bottom: 5px;
  }
  .site-footer .social-icons {
    margin: auto;
    padding-left: 0;
  }
}

@media (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    -webkit-text-size-adjust: 66%;
  }
}
.fullname {
  font-family: "Quatro Ultra Slab", serif;
}
.fullname span {
  display: block;
}
.fullname .firstname {
  font-size: 3.5em;
  line-height: .7em;
}
.fullname .lastname {
  font-size: 4.5em;
  line-height: .9em;
  text-transform: capitalize;
}

.baseline {
  font-family: "Roboto", sans-serif;
}
.baseline p {
  margin: 5px 0;
}
.baseline .pseudo {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.baseline .status span {
  font-size: 1.5em;
  font-weight: bold;
}

.copy {
  font-size: 16px;
  line-height: 25px;
}
.copy > * {
  margin-bottom: 16px;
}
.copy blockquote {
  font-style: italic;
  background: rgba(249, 249, 249, 0.6);
  border-left: 1px solid #cccccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.copy blockquote p {
  display: inline;
}
.copy blockquote:before, .copy blockquote:after {
  color: #ccc;
  font-size: 4em;
  line-height: .1em;
  vertical-align: -.4em;
}
.copy blockquote:before {
  margin-right: .15em;
  content: open-quote;
}
.copy blockquote:after {
  content: close-quote;
}
.copy ul, .copy ol {
  margin-left: 30px;
}
.copy ul li {
  list-style-type: disc;
}
.copy ol li {
  list-style-type: decimal;
}
.copy li {
  display: list-item;
}
.copy pre code {
  overflow: auto;
  padding: 7px 10px;
  display: block;
  background-color: #303030;
  color: #eee;
}
.copy code.pre {
  overflow: auto;
  padding: 7px 10px;
  display: block;
  background-color: #303030;
  color: #eee;
}
.copy code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9em;
  background-color: #f7f7f9;
  padding: 2px 4px;
  border: 1px solid #e1e1e8;
  line-height: 1.4em;
}
.copy h1, .copy h2, .copy h3, .copy h4, .copy h5, .copy h6 {
  font-weight: bold;
  margin-top: 20px;
}
.copy h1 {
  font-size: 1.3em;
}
.copy h2 {
  font-size: 1.2em;
}
.copy h3 {
  font-size: 1.1em;
}
.copy em {
  font-style: italic;
}
.copy strong {
  font-weight: bold;
}
.copy mark {
  background: yellow;
}
.copy ins {
  background: green;
}
.copy del {
  background: red;
}
.copy a {
  text-decoration: none;
  color: #09c;
}
.copy a:hover {
  color: #33b5e5;
}

.blog-entries article {
  font-family: "Roboto", sans-serif;
  height: 50px;
  line-height: 50px;
  position: relative;
  border-top: 1px solid #cccccc;
}
.blog-entries article a {
  text-decoration: none;
  display: block;
}
.blog-entries article a:hover h2 {
  color: #09c;
}
.blog-entries article a:active {
  background-color: #09c;
}
.blog-entries article a:active h2, .blog-entries article a:active time {
  color: white;
}
.blog-entries article time {
  position: absolute;
  left: 15px;
  top: 0px;
  color: #888;
}
.blog-entries article h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1em;
  color: #444;
  padding-left: 90px;
}

.blog-post {
  font-family: "Roboto", sans-serif;
}
.blog-post header {
  margin-bottom: 20px;
}
.blog-post header h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
.blog-post header time {
  color: #aaa;
  text-align: center;
  display: block;
}
.blog-post .comments {
  margin-top: 40px;
}

.mk-logo {
  position: relative;
  width: 200px;
  height: 100px;
}
.mk-logo .m-logo, .mk-logo .k-logo {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  display: block;
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px;
  height: 100px;
  background: url('/assets/images/logo-mattketmo-min.png?1362487981');
}
.mk-logo .m-logo {
  opacity: 1;
}
.mk-logo .k-logo {
  opacity: 0;
}
.mk-logo:hover {
  cursor: pointer;
}
.mk-logo:hover .m-logo, .mk-logo:hover .k-logo {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  opacity: 1;
}
.mk-logo:hover .m-logo {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  left: 0;
}
.mk-logo:hover .k-logo {
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  -o-transform: rotate(-315deg);
  transform: rotate(-315deg);
  left: 100px;
}

ul.social-icons {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 192px;
}
ul.social-icons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
ul.social-icons li:first-child, ul.social-icons li.first {
  padding-left: 0;
}
ul.social-icons li:last-child {
  padding-right: 0;
}
ul.social-icons li.last {
  padding-right: 0;
}
ul.social-icons li {
  display: inline;
}
ul.social-icons a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/assets/images/../images-s509fd739c4.png');
  display: block;
  width: 32px;
  height: 32px;
}
ul.social-icons .github {
  background-position: 0 -96px;
}
ul.social-icons .github:hover {
  background-position: 0 0;
}
ul.social-icons .twitter {
  background-position: 0 -128px;
}
ul.social-icons .twitter:hover {
  background-position: 0 -256px;
}
ul.social-icons .symfony {
  background-position: 0 -64px;
}
ul.social-icons .symfony:hover {
  background-position: 0 -192px;
}
ul.social-icons .google {
  background-position: 0 -32px;
}
ul.social-icons .google:hover {
  background-position: 0 -160px;
}
ul.social-icons .linkedin {
  background-position: 0 -224px;
}
ul.social-icons .linkedin:hover {
  background-position: 0 -288px;
}

.clearfix {
  clear: both;
}
