/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Quatro Ultra Slab";
  src: url('/assets/fonts/Quatro Ultra Slab.otf') format('opentype'); }

/* line 15, ../scss/_base.scss */
body {
  background: #f4f4f4 url('/assets/images/cubes.png?1362487981') repeat center;
  font-family: Roboto, sans-serif;
  color: #303030; }

/* line 21, ../scss/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 29, ../scss/_base.scss */
  html {
    -webkit-text-size-adjust: 66%; } }
/* line 32, ../scss/_base.scss */
::selection, ::-moz-selection {
  background: #258aaf;
  text-shadow: none; }

/* line 1, ../scss/components/_blog-post.scss */
.blog-post {
  font-family: "Roboto", sans-serif; }
  /* line 5, ../scss/components/_blog-post.scss */
  .blog-post header {
    margin-bottom: 20px; }
    /* line 8, ../scss/components/_blog-post.scss */
    .blog-post header h1 {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 2em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 15px; }
    /* line 17, ../scss/components/_blog-post.scss */
    .blog-post header time {
      color: #aaa;
      text-align: center;
      display: block; }
  /* line 24, ../scss/components/_blog-post.scss */
  .blog-post .comments {
    margin-top: 40px; }

/* line 1, ../scss/components/_fullname.scss */
.fullname {
  font-family: "Quatro Ultra Slab", serif; }
  /* line 4, ../scss/components/_fullname.scss */
  .fullname span {
    display: block; }
  /* line 7, ../scss/components/_fullname.scss */
  .fullname .firstname {
    font-size: 3.5em;
    line-height: .7em; }
  /* line 11, ../scss/components/_fullname.scss */
  .fullname .lastname {
    font-size: 4.5em;
    line-height: 1em;
    text-transform: capitalize; }

/* line 1, ../scss/components/_homepage.scss */
.homepage-header {
  clear: both;
  margin: 80px auto 40px; }
  /* line 5, ../scss/components/_homepage.scss */
  .homepage-header .fullname {
    width: 57%;
    float: left;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid #cccccc; }
    @media screen and (max-width: 650px) {
      /* line 5, ../scss/components/_homepage.scss */
      .homepage-header .fullname {
        border-right: none;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
        width: 100%;
        float: none;
        text-align: center; } }
  /* line 22, ../scss/components/_homepage.scss */
  .homepage-header .baseline {
    width: 43%;
    float: left;
    text-align: left;
    padding-left: 10px;
    font-weight: 300; }
    /* line 29, ../scss/components/_homepage.scss */
    .homepage-header .baseline p {
      margin: 5px 0; }
    /* line 32, ../scss/components/_homepage.scss */
    .homepage-header .baseline .pseudo {
      font-size: 1.3em;
      margin-bottom: 10px; }
    /* line 37, ../scss/components/_homepage.scss */
    .homepage-header .baseline .status span {
      font-size: 1.5em; }
    @media screen and (max-width: 650px) {
      /* line 22, ../scss/components/_homepage.scss */
      .homepage-header .baseline {
        padding-top: 10px;
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 30px; } }
  @media screen and (max-width: 650px) {
    /* line 51, ../scss/components/_homepage.scss */
    .homepage-header .social-icons {
      margin: auto; } }
  @media screen and (max-width: 650px) {
    /* line 1, ../scss/components/_homepage.scss */
    .homepage-header {
      margin: 30px auto 0px; } }

/* line 4, ../scss/components/_layout.scss */
.site-container {
  width: 650px;
  margin: auto; }
  @media screen and (max-width: 650px) {
    /* line 4, ../scss/components/_layout.scss */
    .site-container {
      width: 90%; } }

/* line 5, ../scss/components/_mk-logo.scss */
.mk-logo {
  position: relative;
  width: 200px;
  height: 100px; }
  /* line 10, ../scss/components/_mk-logo.scss */
  .mk-logo .m-logo, .mk-logo .k-logo {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    display: block;
    position: absolute;
    top: 0;
    left: 50px;
    width: 100px;
    height: 100px;
    background: url('/assets/images/logo-mattketmo-min.png?1362487981'); }
  /* line 24, ../scss/components/_mk-logo.scss */
  .mk-logo .m-logo {
    opacity: 1; }
  /* line 27, ../scss/components/_mk-logo.scss */
  .mk-logo .k-logo {
    opacity: 0; }
  /* line 31, ../scss/components/_mk-logo.scss */
  .mk-logo:hover {
    cursor: pointer; }
    /* line 34, ../scss/components/_mk-logo.scss */
    .mk-logo:hover .m-logo, .mk-logo:hover .k-logo {
      -webkit-transition-duration: 0.7s;
      -moz-transition-duration: 0.7s;
      -o-transition-duration: 0.7s;
      transition-duration: 0.7s;
      opacity: 1; }
    /* line 38, ../scss/components/_mk-logo.scss */
    .mk-logo:hover .m-logo {
      -webkit-transform: rotate(315deg);
      -moz-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
      -o-transform: rotate(315deg);
      transform: rotate(315deg);
      left: 0; }
    /* line 42, ../scss/components/_mk-logo.scss */
    .mk-logo:hover .k-logo {
      -webkit-transform: rotate(-315deg);
      -moz-transform: rotate(-315deg);
      -ms-transform: rotate(-315deg);
      -o-transform: rotate(-315deg);
      transform: rotate(-315deg);
      left: 100px; }

/* line 1, ../scss/components/_page.scss */
.page-header {
  margin: 30px auto 30px; }
  /* line 4, ../scss/components/_page.scss */
  .page-header .block {
    margin: auto; }

/* line 9, ../scss/components/_page.scss */
.page-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 15px; }
  /* line 17, ../scss/components/_page.scss */
  .page-title small {
    font-size: 0.6em;
    font-weight: normal;
    color: #999; }

/* line 24, ../scss/components/_page.scss */
.page-content {
  width: 100%; }

/* line 28, ../scss/components/_page.scss */
.page-footer {
  width: 100%;
  padding: 10px 0 30px; }
  /* line 32, ../scss/components/_page.scss */
  .page-footer .inner {
    width: 320px;
    margin: auto; }
  /* line 37, ../scss/components/_page.scss */
  .page-footer .pseudo {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    float: left;
    padding-right: 10px;
    line-height: 30px; }
  @media screen and (max-width: 650px) {
    /* line 46, ../scss/components/_page.scss */
    .page-footer .pseudo {
      float: none;
      text-align: center;
      padding-right: 0;
      padding-bottom: 5px; }
    /* line 53, ../scss/components/_page.scss */
    .page-footer .social-icons {
      margin: auto;
      padding-left: 0; } }

/* line 61, ../scss/components/_page.scss */
.block {
  margin-bottom: 20px; }

/* line 65, ../scss/components/_page.scss */
.block-title {
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 5px; }

/* line 77, ../scss/components/_page.scss */
.block-list-item {
  height: 50px;
  line-height: 50px;
  position: relative;
  border-top: 1px solid #cccccc; }
  /* line 78, ../scss/components/_page.scss */
  .block-list-item a {
    text-decoration: none;
    display: block; }
    /* line 83, ../scss/components/_page.scss */
    .block-list-item a:hover h2 {
      color: #09c; }
    /* line 88, ../scss/components/_page.scss */
    .block-list-item a:active {
      background-color: #09c; }
      /* line 91, ../scss/components/_page.scss */
      .block-list-item a:active h2, .block-list-item a:active time {
        color: white; }
  /* line 106, ../scss/components/_page.scss */
  .block-list-item .item-prefix {
    position: absolute;
    left: 15px;
    top: 0px;
    color: #888; }
  /* line 113, ../scss/components/_page.scss */
  .block-list-item .item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1em;
    color: #444;
    padding-left: 90px; }

/* line 7, ../scss/components/_social.scss */
ul.social-icons {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 192px; }
  /* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  ul.social-icons li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    ul.social-icons li:first-child, ul.social-icons li.first {
      padding-left: 0; }
    /* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    ul.social-icons li:last-child {
      padding-right: 0; }
    /* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    ul.social-icons li.last {
      padding-right: 0; }
  /* line 12, ../scss/components/_social.scss */
  ul.social-icons li {
    display: inline; }
  /* line 15, ../scss/components/_social.scss */
  ul.social-icons a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/assets/images/../images-s509fd739c4.png');
    display: block;
    width: 32px;
    height: 32px; }
  /* line 24, ../scss/components/_social.scss */
  ul.social-icons .github {
    background-position: 0 -96px; }
    /* line 27, ../scss/components/_social.scss */
    ul.social-icons .github:hover {
      background-position: 0 0; }
  /* line 24, ../scss/components/_social.scss */
  ul.social-icons .twitter {
    background-position: 0 -128px; }
    /* line 27, ../scss/components/_social.scss */
    ul.social-icons .twitter:hover {
      background-position: 0 -256px; }
  /* line 24, ../scss/components/_social.scss */
  ul.social-icons .symfony {
    background-position: 0 -64px; }
    /* line 27, ../scss/components/_social.scss */
    ul.social-icons .symfony:hover {
      background-position: 0 -192px; }
  /* line 24, ../scss/components/_social.scss */
  ul.social-icons .google {
    background-position: 0 -32px; }
    /* line 27, ../scss/components/_social.scss */
    ul.social-icons .google:hover {
      background-position: 0 -160px; }
  /* line 24, ../scss/components/_social.scss */
  ul.social-icons .linkedin {
    background-position: 0 -224px; }
    /* line 27, ../scss/components/_social.scss */
    ul.social-icons .linkedin:hover {
      background-position: 0 -288px; }

/* line 5, ../scss/components/_type.scss */
.type {
  font-size: 16px;
  line-height: 25px; }
  /* line 12, ../scss/components/_type.scss */
  .type > * {
    margin-bottom: 16px; }
  /* line 20, ../scss/components/_type.scss */
  .type p.lead {
    font-size: 1.1em;
    font-weight: 300; }
  /* line 31, ../scss/components/_type.scss */
  .type blockquote {
    font-style: italic;
    background: rgba(249, 249, 249, 0.6);
    border-left: 1px solid #cccccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019"; }
    /* line 39, ../scss/components/_type.scss */
    .type blockquote p {
      display: inline; }
    /* line 43, ../scss/components/_type.scss */
    .type blockquote:before, .type blockquote:after {
      color: #ccc;
      font-size: 4em;
      line-height: .1em;
      vertical-align: -.4em; }
    /* line 49, ../scss/components/_type.scss */
    .type blockquote:before {
      margin-right: .15em;
      content: open-quote; }
    /* line 53, ../scss/components/_type.scss */
    .type blockquote:after {
      content: close-quote; }
  /* line 61, ../scss/components/_type.scss */
  .type ul, .type ol {
    margin-left: 30px; }
  /* line 66, ../scss/components/_type.scss */
  .type ul li {
    list-style-type: disc; }
  /* line 72, ../scss/components/_type.scss */
  .type ol li {
    list-style-type: decimal; }
  /* line 77, ../scss/components/_type.scss */
  .type li {
    display: list-item; }
  /* line 105, ../scss/components/_type.scss */
  .type pre code {
    overflow: auto;
    padding: 7px 10px;
    display: block;
    background-color: #303030;
    color: #eee; }
  /* line 110, ../scss/components/_type.scss */
  .type code.pre {
    overflow: auto;
    padding: 7px 10px;
    display: block;
    background-color: #303030;
    color: #eee; }
  /* line 114, ../scss/components/_type.scss */
  .type code {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.9em;
    background-color: #f7f7f9;
    padding: 2px 4px;
    border: 1px solid #e1e1e8;
    line-height: 1.4em; }
  /* line 127, ../scss/components/_type.scss */
  .type h1, .type h2, .type h3, .type h4, .type h5, .type h6 {
    font-weight: bold;
    margin-top: 20px; }
  /* line 132, ../scss/components/_type.scss */
  .type h1 {
    font-size: 1.3em; }
  /* line 136, ../scss/components/_type.scss */
  .type h2 {
    font-size: 1.2em; }
  /* line 140, ../scss/components/_type.scss */
  .type h3 {
    font-size: 1.1em; }
  /* line 159, ../scss/components/_type.scss */
  .type em {
    font-style: italic; }
  /* line 163, ../scss/components/_type.scss */
  .type strong {
    font-weight: bold; }
  /* line 167, ../scss/components/_type.scss */
  .type mark {
    background: yellow; }
  /* line 171, ../scss/components/_type.scss */
  .type ins {
    background: green; }
  /* line 175, ../scss/components/_type.scss */
  .type del {
    background: red; }
  /* line 194, ../scss/components/_type.scss */
  .type a {
    text-decoration: none;
    color: #09c; }
  /* line 203, ../scss/components/_type.scss */
  .type a:hover {
    color: #33b5e5; }

/* line 1, ../scss/components/_util.scss */
.clearfix {
  clear: both; }
