html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-size: 14px;
  color: $color-dark;
  background-color: $color-bg-dark;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@media (max-device-width:768px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2) {
  // @see http://blog.goetter.fr/post/28469308363/initial-scale-1-le-pour-et-le-contre
  html { -webkit-text-size-adjust: 66%; }
}

::selection, ::-moz-selection {
  background: lighten($color-primary, 20);
  text-shadow: none;
}
