html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-size: 14px;
  color: $color-dark;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
