.AboutHeader {
  // background-color: #383838;
  // background-color: #363942;
  // background-color: #171d25;
  background-color: $color-bg-dark;
  color: #f0f0f0;
  padding: 50px 0;

  @media screen and (max-width: 600px) {
    padding: 30px 0;
  }

  strong {
    // color: $color-inverse;
  }

  &-avatar {
    width: 150px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      width: 120px;
    }

    img {
      border: 8px solid lighten($color-bg-dark, 15);
      max-width: 100%;
    }
  }

  &-title {
    margin: 0;
    padding: 0;
    display: none;
  }

  &-lead {
    @include font-size(32);
    line-height: 38px;
    margin: 30px 0 40px;
    padding: 0;

    @media screen and (max-width: 600px) {
      @include font-size(28);
    }
  }

  &-followMe {
    display: none;
    text-align: center;
    @include font-size(18);
    font-weight: 300;
    color: #ddd;
  }

  &-links {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
