.BackLink {
  @include font-size(40);
  // @include font-size(16);
  position: absolute;
  top: 15px;
  left: 15px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;

  padding: 0;
  // padding: 8px 10px;
  // border-radius: 50%;
  // border: 2px solid;

  &.isLight {
    color: #eee;
    border-color: #eee;
  }
  &.isDark {
    color: $color-dark;
    border-color: $color-dark;
  }

  &:hover {
    transform: scale(1.2) rotate(-45deg); // rotate(315 = 45 + 180 + 90)
    color: #fff;
    // color: $color-primary;
    // border-color: $color-primary;
  }
}
