.BlogPostHeader {
  background-color: $color-bg-dark;
  color: #f0f0f0;
  padding-top: 160px;
  padding-bottom: 30px;

  &-title {
    @include font-size(42);
    line-height: 1.1em;
    margin: 0 0 10px;
    padding: 0;

    @media screen and (max-width: 600px) {
      @include font-size(38);
    }
  }

  &-meta {
    @include font-size(18);
    // font-weight: 300;
    color: #ccc;
    margin: 0;
    padding: 0;
  }
}
