.TalkItem {
  float: left;
  width: 33%;
  padding-right: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 650px) {
    width: (100%) / 2;
  }
  @media screen and (max-width: 450px) {
    width: (100%);
  }

  a:hover &-title {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  a:hover &-overlay {
    background: rgba(#000, 0.65);
    opacity: 1;
  }
  a:hover &-meta {
    color: $color-primary;
  }

  &-container {
    position: relative;
    padding: 0;
    margin: 0;
  }

  &-title {
    @include font-size(22);
    visibility: hidden;
    font-weight: 400;
    text-align: center;
    z-index: 2;

    position: absolute;
    top: 25%;
    left: 5px;
    right: 5px;

    color: #fafafa;
    margin: 0;
    padding: 5px;
    opacity: 0;
    transition: 0.15s ease-in-out;
    transform: scale(1.25);
  }

  &-overlay {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px; // fix an offset bug
    padding: 0;
    border-radius: 2px;
    opacity: 0;
    transition: 0.15s ease-in-out;
  }


  &-thumbnail {
    padding: 0;
    max-width: 100%;
    z-index: 0;
    border-radius: 2px;
    box-shadow: 1px 2px 3px #999;
  }

  &-meta {
    @include font-size(18);
    margin: 0;
    padding: 2px 0;
    color: #777;
  }
}
