.TalkList {
  padding: 10px 0;
  background-color: #f0f0f0;

  &-title {
    @include font-size(22);
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #444;
    margin: 20px 0;
    padding: 0;
    text-decoration: none;
    display: inline-block;
    //border-bottom: 2px solid black;
  }

  &-list {
    @include clearfix();
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
