.Type {

  h1, h2, h3, h4, h5 {
    .anchor-link {
      font-size: 0.5em;
      color: #ccc;
      visibility: hidden;
      padding-left: 5px;
      display: inline-block;
      vertical-align: middle;
    }
    &:hover .anchor-link {
      color: $color-primary;
      visibility: visible;
    }
  }

  h1 {
    @include font-size(40);
    line-height: 1em;
    margin: 20px 0 15px;
    padding: 0;
  }

  h2 {
    @include font-size(34);
    line-height: 1em;
    margin: 20px 0 15px;
    padding: 0;
  }

  h3 {
    @include font-size(30);
    margin: 15px 0 10px;
    padding: 0;
  }

  h4 {
  }

  p {
    @include font-size(22);
    // letter-spacing: 0.03em;
    margin: 20px 0 20px;
    line-height: 1.4em;
  }

  ul, ol {
    @include font-size(22);
  }

  blockquote {
    @include font-size(23);
    font-style: italic;

    margin: 20px -20px;
    border-left: 10px solid #a6e22e;
    background-color: #fafafa;
    border-radius: 2px;

    p {
      padding: 10px;
    }

    @media screen and (max-width: 800px) {
      //margin-left: 0px;
      //margin-right: 0px;
    }
  }

  code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.8em;
    background-color: #f0f0f0;
    // color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
  }

  pre code, code.pre {
    @include font-size(16);
    line-height: 1.4em;
    overflow: auto;
    padding: 15px;
    display: block;
    background-color: #363942;
    color: #eee;
    border-left: 10px solid #ffe680;
    margin: 20px -20px;
    overflow: auto;

    // white-space: pre-wrap;
    // word-break: break-all;
    // word-wrap: break-word;

    @media screen and (max-width: 800px) {
      //margin-left: 0px;
      //margin-right: 0px;
    }

  }

  pre {
    overflow: initial;
  }

  a {
    // color: $color-primary;
    border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -5px 0 #b4e7f8;
    color: inherit;
    -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
    transition: background .15s cubic-bezier(.33,.66,.66,1);

    &:hover {
      background: #b4e7f8;
    }
  }

  strong {
  }

  .banner-container {
    margin: 30px -30px;
    overflow: hidden;

    @media screen and (max-width: 800px) {
      margin-left: -80px;
      margin-right: -80px;
    }
  }

  .note {
    margin: 20px -20px;
    border-left: 10px solid gray;
    background-color: #fafafa;
    border-radius: 2px;

    p {
      //@include font-size(20);
      padding: 10px;
    }

    @media screen and (max-width: 800px) {
      //margin-left: 0px;
      //margin-right: 0px;
    }

    &.success {
      border-left-color: #a6e22e;
    }
    &.info {
      border-left-color: #31aded;
    }
    &.danger {
      border-left-color: #ed4035;
      // background-color: lighten(#ed4035, 40);
    }
    &.warning {
      border-left-color: #ed9743;
    }

  }
}
