<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>{{ page.title }}</title>

    <meta charset="UTF-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="Matthieu Moquet" name="author" />
    <meta content="Personal pages - Matthieu Moquet (@MattKetmo)" name="description" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <link rel="alternate" href="/atom.xml" title="Matthieu Moquet" type="application/atom+xml" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700,700italic" />
    <link rel="stylesheet" href="/assets/css/style.css?v=1.2" />
    <link rel="stylesheet" href="/assets/css/vendor/pygments.css" />
    <link rel="stylesheet" href="/assets/css/vendor/tipsy.css" />
    <link rel="stylesheet" href="/assets/css/vendor/tipsy.css" />
</head>
<body>
    <div class="site-container">
        {{ content }}
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.tipsy.js"></script>
    <script src="/assets/js/anchorify.min.js"></script>
    <script>
        // Links
        $('.social-icons a').tipsy({ fade: true });
        $('.action-link').tipsy({ fade: true });
        $('.btn-tweet').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            window.open(url, 'Twitter', 'height=300,width=550');
        });

        // Blog posts
        $('.blog-post-content').find('h1, h2, h3, h4, h5').anchorify();
        $('.blog-post-content pre').on('dblclick', function() {
            var range = document.createRange();
            range.selectNode(this);
            window.getSelection().addRange(range);
        });
    </script>

    <script>
        var _gaq=[['_setAccount','UA-23657373-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
