---
layout: base
---

<a href="/" class="BackLink isLight">
  <i class="icon-arrow-left"></i>
  <span>Home</span>
</a>

<article class="BlogPostContainer">
  <header class="BlogPostHeader">
    <div class="Layout">
      <h1 class="BlogPostHeader-title">
        {{ page.title }}
      </h1>

      <p class="BlogPostHeader-meta">
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ page.date | date_to_string }}
        </time>
      </p>
    </div>
  </header>

  <section class="BlogPostContent Type Layout">
    {{ content }}
  </section>

  {% include comments.html %}
</article>

{% include footer.html %}
