---
layout: base
---

<a href="/" class="BackLink isLight">
  <i class="icon-arrow-left"></i>
</a>

<article class="BlogPostContainer">
  <header class="BlogPostHeader">
    <div class="Layout">
      <h1 class="BlogPostHeader-title">
        {{ page.title }}
      </h1>

      <p class="BlogPostHeader-meta">
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ page.date | date_to_string }}
        </time>
      </p>
    </div>
  </header>

  <section class="BlogPostContent Type Layout">
    {{ content }}
  </section>

  <p class="BlogPostFooter Layout">
    <a class="Button twitter js-twitter-share" title="Tweet it" href="https://twitter.com/share?text={{ page.title }}&url={{ site.base_url }}{{ page.url }}&via={{ site.twitter_account }}&related={{ site.twitter_account }}" target="_blank">
      <i class="icon-twitter"></i>
      <span>Share this post</span>
    </a>
  </p>

  {% include comments.html %}
</article>

{% include footer.html %}
