---
layout: base
---

<header class="page-header">
    <a href="/">
        <div class="mk-logo block">
            <div class="m-logo"></div>
            <div class="k-logo"></div>
        </div>
    </a>
</header>

<div class="page-content">
    <article class="blog-post">
        <header>
            <h1>{{ page.title}}</h1>
            <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
        </header>

        <div class="type">
            {{ content }}
        </div>

        <section class="comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'mattketmo';

                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
        </section>
    </article>
</div>

<footer class="page-footer">
    <div class="inner">
        <p class="pseudo">
            @MattKetmo
        </p>

        <ul class="social-icons">
            <li><a href="http://github.com/MattKetmo" title="GitHub" class="github">Github</a></li>
            <li><a href="http://twitter.com/MattKetmo" title="Twitter" class="twitter">Twitter</a></li>
            <li><a href="http://fr.linkedin.com/in/matthieumoquet" title="LinkedIn" class="linkedin">Linkedin</a></li>
            <li><a href="https://plus.google.com/u/0/112952330011857430726/about" title="Google+" class="google">Google+</a></li>
            <li><a href="https://connect.sensiolabs.com/profile/MattKetmo" title="Symfony" class="symfony">Symfony</a></li>
        </ul>
    </div>
</footer>
